@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Monserrat, sans-serif;
}

h2 {
  font-size: 32px;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1500px;
  padding: 14px;
  padding-right: 5px;
}

.header {
  background-color: #fff;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }

  .logo {
    display: block;
    max-width: 300px;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;

  .btn {
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    display: block;
    width: 230px;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
    line-height: 24.38px;
    transition: all 0.3s;

    &.blue {
      color: #3f89fc;
      border: 1px solid #3f89fc;

      &:focus {
        color: #3f89fc;
        background-color: #accdff;
        border: 1px solid #accdff;
      }
    }

    &.red {
      color: #fff;
      background-color: #fc1370;
      border: 1px solid #fc1370;

      &:focus {
        background-color: #c71059;
        border: 1px solid #c71059;
      }
    }

    &:hover {
      opacity: 0.7;
    }
  }
}

.tasks {
  background-color: #dbf0f1;
  padding: 60px 0 20px 0;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    min-height: 400px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    // flex-wrap: wrap;
    gap: 20px;
    margin: auto;
    overflow: auto;
    // height: 590px;
    height: 74vh;
    padding-left: 20px;

    &::-webkit-scrollbar {
      width: 26px;
      border-radius: 13px;
      background-clip: padding-box;
      border: 10px solid transparent;
      background-color: #fff;
    }

    &::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 0 10px;
      width: 26px;
      border-radius: 13px;
      background-clip: padding-box;
      border: 10px solid transparent;
      color: #414141;
    }
  }

  .col {
    width: 526px;

    .col-title {
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
      background-color: #accdff;
      padding: 17px 24px;
      border-radius: 10px;
      height: 80px;
      margin-bottom: -63px;
    }

    .col-card {
      padding: 24px;
      background-color: #fff;
      border-radius: 10px;
      margin-bottom: 10px;

      .card-title {
        font-size: 20px;
        color: #333333;
        margin-bottom: 16px;
      }

      .card-about {
        p {
          font-size: 16px;
          color: #b9b9b9;
          margin: 0;
          line-height: 20px;
        }
      }

      .card-project {
        font-size: 16px;
        text-align: center;
        width: 85px;
        padding: 8px 10px;
        border-radius: 10px;
        margin-top: 16px;
        margin-bottom: 20px;

        &.pr-x {
          background-color: #cdeafb;
          color: #3f89fc;
        }

        &.pr-y {
          background-color: #ffe6b0;
          color: #f95721;
        }

        &.pr-z {
          background-color: #e6d7ff;
          color: #8342e9;
        }
      }

      .description {
        display: none;
      }

      .card-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .bm {
          font-size: 24px;
        }
      }

      .ava {
        span {
          display: none;
        }
      }
    }

    #done {
      .bm {
        text-decoration: line-through;
      }
    }
  }
}

.modal {
  width: auto;
  max-width: 980px;
  margin: auto;
  padding: 32px;
  background: #fff;
  position: relative;
  transition: 1s all;
  border-radius: 10px;

  h2 {
    margin-bottom: 32px;
  }

  .new-task,
  .new-column {
    width: 100%;
    display: inline-flex;
    flex-direction: column;

    .date-time {
      display: flex;
      justify-content: space-between;
      margin-top: 16px;
    }

    .date,
    .time {
      max-width: 450px;
      width: auto;
      display: flex;
      flex-direction: column;
      flex-basis: 49%;
      position: relative;

      img {
        position: absolute;
        bottom: 23px;
        right: 5px;
        width: 20px;
        height: 20px;
      }
    }
  }

  .author {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 450px;

    select {
      display: none;
    }

    .select {
      cursor: pointer;
      display: inline-block;
      position: relative;
    }

    .users-select {
      font-size: 14px;
      position: relative;
      list-style: none;

      &::after {
        content: "";
        background: url(/img/arr-down.svg) no-repeat right;
        position: absolute;
        top: 14px;
        right: 11px;
        width: 10px;
        height: 10px;
      }

      &.active {
        .btn-select {
          border: 1px solid #3f89fc;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          border-bottom: 0;
        }

        &::after {
          transform: rotate(180deg);
        }
      }

      .btn-select {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 8px;
        padding-left: 0;
        outline: none;
        background: #fff;
        text-align: left;
        border: 1px solid #b9b9b9;
        box-sizing: border-box;
        border-radius: 4px;
      }

      img {
        position: relative;
        bottom: 0;
        left: 8px;
        width: 20px;
        height: 20px;
        z-index: 2;
      }

      .users-lay {
        display: none;
      }

      li {
        display: flex;
        align-items: center;
        gap: 13px;
        font-size: 14px;
      }
    }

    .select-options {
      position: absolute;
      right: 0;
      left: 0;
      margin: 0;
      padding: 0;
      list-style: none;
      background: #fff;
      border: 1px solid #3f89fc;
      border-top: 0;
      border-radius: 4px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;

      li {
        display: flex;
        align-items: center;
        gap: 13px;
        margin: 0;
        padding: 8px 0;
        // text-indent: 15px;
        font-size: 14px;
        border-top: 1px solid #3f89fc;

        &:hover {
          background: #cdeafb;
        }

        &:first-of-type {
          display: none;
        }
      }
    }

    .select-hidden {
      display: none;
      visibility: hidden;
      padding-right: 10px;
    }
  }
}

form {
  font-family: Monserrat, sans-serif;

  label {
    font-size: 14px;
    color: #b9b9b9;
    line-height: 17px;
    margin-bottom: 5px;
  }

  input {
    padding: 8px;
    border: 1px solid #b9b9b9;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 16px;

    &:focus {
      outline: none;
      border: 1px solid #3f89fc;
    }
  }

  .buttons {
    justify-content: flex-end;
    margin-top: 48px;

    .btn {
      width: fit-content;
      background: transparent;
      border: none;
    }
  }
}

.card-placeholder {
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
  opacity: 0.5;
}

#info-modal {
  .bm {
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 30px;
  }

  .info-head {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 10px;
  }

  .card-title {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 30px;
  }

  .ava {
    display: flex;
    align-items: center;
    gap: 10px;
    
    p {
      display: flex;
      align-items: center;
      gap: 16px;
      margin: 0;

      img {
        order: 2;
      }
    }
  }

  .description {
    span {
      font-size: 14px;
      color: #b9b9b9;
    }

    p {
      margin: 0;
      font-size: 14px;
      color: #333333;
      line-height: 17px;

      &:first-of-type {
        margin-top: 12px;
      }
    }
  }

  .info-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;

    p {
      margin: 0;
    }

    .until {
      position: relative;
      padding-left: 30px;
      color: #b9b9b9;
      font-size: 14px;

      &:after {
        content: "";
        position: absolute;
        background: url(../img/calendar.svg) no-repeat;
        left: 0;
        bottom: 0;
        width: 20px;
        height: 20px;
      }
    }

    .time {
      color: #b9b9b9;
      font-size: 14px;
    }
  }
}
